.tools{
    height: 150px;
    width: 100%;
    padding: 5px 10px;
    position: fixed;
    top: 0px;
}
.application{
    position: absolute;
    top: 150px;
    width: 100%;
    background: url("./images/grid.png") repeat ;
    height: 100%;
    overflow: scroll;
}

.namespace{
    background-color: #fcffd48a;
    position: relative;
    width: fit-content;
    padding: 20px;
    color: #aaaf5e;
}

.classe, .interface {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
}

.classe{
    border: 1px solid #6c3624;
    background-color: moccasin;
}

.interface{
    background-color: paleturquoise;
    border: 1px dashed darkslateblue;
}

.namespace > .name, .application > .name{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;
}

.classe > .name, .interface > .name{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #6c3624;
}

.classe button, .interface button{
    float: right;
    margin-left: 15px;
}

.classe > .name{
    color: sienna;
}

.constantes, .attributs, .methodes{
    margin: 5px 0 5px 0;
}

.constante, .attribut, .methode{
    height: 25px;
}

#modal-container .form {
    padding-top: 10px;
}

#modal-container label{
    display: inline-block;
    width: 100px;
    float: left;
}

#modal-container input{
    display: inline-block;
    width: 150px;
    float: right;
}

#modal-container .buttons{
    height: 25px;
    clear: both;
    padding-top: 15px;
    float: right;
}