<div class="application" ng-controller="ApplicationController" ng-init="init()">
    <span class="name" ng-click="edit()" ng-show="editionMode === false">{{ application.getName() }}</span>
    <input ng-show="editionMode === true" ng-model="application.name" type="text" />
    <button ng-click="edit()" ng-show="editionMode === true">Valider</button>
    <namespace ng-controller="NamespaceController" ng-init="init()" ng-repeat="namespace in application.namespaces" draggable resizable></namespace>
</div>