<div class="attribut">
    <span class="visibilite" ng-show="editionMode === false">{{ attribut.getVisibilite() }}</span>
    <span class="name" ng-show="editionMode === false">{{ attribut.getName() }}</span>
    <span class="type" ng-show="editionMode === false">{{ attribut.getType() }}</span>
    <button ng-click="edit()" ng-show="editionMode === false">&Eacute;diter</button>
    <select ng-bind="attribut.visibilite" ng-show="editionMode === true" ng-options="item for item in ['private', 'protected', 'public']" ng-model="attribut.visibilite">
    </select>
    <input type="text" value="{{attribut.getName()}}" ng-bind="attribut.name" ng-show="editionMode === true" />
    <input type="text" value="{{attribut.getType()}}" ng-bind="attribut.type" ng-show="editionMode === true" />
    <button ng-click="edit()" ng-show="editionMode === true">Valider</button>
</div>