<div class="classe">
    <span class="name">{{ classe.getName() }}</span>
    <div class="constantes">
        <constante ng-controller="ConstanteController" ng-init="init()" ng-repeat="constante in classe.constantes" ></constante>
    </div>
    <div class="attributs">
        <attribut ng-controller="AttributController" ng-init="init()" ng-repeat="attribut in classe.attributs"></attribut>
    </div>
    <div class="methodes">
        <methode ng-controller="MethodeController" ng-init="init()" ng-repeat="methode in classe.methodes"></methode>
    </div>
</div>