<div class="constante">
    <span class="name" ng-show="editionMode === false">{{ constante.name }}</span>
    <span class="value" ng-show="editionMode === false">{{ constante.value }}</span>
    <button ng-click="edit()" ng-show="editionMode === false">&Eacute;diter</button>
    <input type="text" value="{{constante.getName()}}" ng-bind="constante.name" ng-show="editionMode === true" />
    <input type="text" value="{{constante.getValue()}}" ng-bind="constante.value" ng-show="editionMode === true" />
    <button ng-click="edit()" ng-show="editionMode === true">Valider</button>
</div>