<div class="interface draggable resizable">
    <div class="name">
        <span ng-click="edit()" ng-show="editionMode === false">
        {{ interface.name }}
        </span>
        <input type="text" ng-model="interface.name" ng-show="editionMode === true">
        <button ng-show="editionMode === true" ng-click="edit()">Valider</button>
        <span class="classe-tools">
            <i class="fa fa-arrow-down collapser" aria-hidden="true"></i>
            <i class="fa fa-cog" aria-hidden="true" modal modal-title="Modifier l'interface {{ classe.name }}" modal-tool-name="interface" data="interface"></i>
        </span>
    </div>
    <div class="content">
        <div class="constantes">
            <constante ng-controller="ConstanteController" ng-init="init()" ng-repeat="constante in interface.constantes"></constante>
        </div>
        <div class="methodes">
            <methode ng-controller="MethodeController" ng-init="init()" ng-repeat="methode in interface.methodes"></methode>
        </div>
    </div>
</div>