<div class="namespace draggable resizable">
    <div class="name">
        <span ng-click="edit()" ng-show="editionMode === false" >
        {{ namespace.getName() }}
        </span>
        <input type="text" ng-show="editionMode === true" ng-model="namespace.name">
        <button ng-click="edit()" ng-show="editionMode === true">Valider</button>
    </div>
    <classe ng-controller="ClasseController" ng-init="init()" ng-repeat="classe in namespace.classes track by classe.name" draggable resizable collapsible></classe>
    <interface ng-controller="InterfaceController" ng-init="init()" ng-repeat="interface in namespace.interfaces track by interface.name" draggable resizable collapsible></interface>
</div>