<div class="tools" ng-controller="ToolboxController" ng-init="init()">
    <div class="general"></div>
    <div class="generation"></div>
    <div class="diagramme">
        <button modal modal-title="Ajouter un namespace" modal-tool-name="namespace">Ajouter namespace</button>
        <button modal modal-title="Ajouter une classe" modal-tool-name="classe">Ajouter classe</button>
        <button modal modal-title="Ajouter une interface" modal-tool-name="interface">Ajouter interface</button>
    </div>
    <div class="plugins"></div>
</div>